# Carpetas de PyInstaller / Compilación
build/
dist/
*.spec

# Entornos virtuales y caché
.venv/
__pycache__/
*.pyc
venv/

# Archivos de entorno y configuración local con credenciales
.env
config.json
config/config.json